// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.console {
    background-color: black;
    color: white;
    padding: 10px 0px 10px 5px;
    overflow-y: scroll;
    font-size: 80%;
}
